run = "python3 main.py"
entrypoint = "main.py"
modules = ["python-3.11"]

hidden = [".pythonlibs", "__pycache__", ".git"]

[nix]
channel = "stable-23_11"

[deployment]
run = ["sh", "-c", "./start.sh"]
deploymentTarget = "cloudrun"
ignorePorts = false

[[ports]]
localPort = 8080
externalPort = 80

[env]
PYTHONUNBUFFERED = "1"

[agent]
expertMode = true
